<mat-tab-group>
  <mat-tab *ngIf="userService.roleMatch(['Super_Admin'])" label="Centres"><app-vaccination-center-list></app-vaccination-center-list></mat-tab>
  <mat-tab *ngIf="userService.roleMatch(['Admin'])" label="Mon Centre"><app-my-vaccination-center></app-my-vaccination-center></mat-tab>
  <mat-tab *ngIf="userService.roleMatch(['Admin','Medecin'])" label="Planning"><app-planning></app-planning></mat-tab>
  <mat-tab *ngIf="userService.roleMatch(['Super_Admin'])" label="Config"><app-super-admin-config></app-super-admin-config></mat-tab>
</mat-tab-group>
