<p *ngIf="!data">Ajouter un nouveau centre de vaccination</p>
<form #form (ngSubmit)="Submit()">
  <mat-form-field appearance="fill" class="m-lg-1">
    <mat-label>Addresse</mat-label>
    <input matInput [formControl]="address">
  </mat-form-field>

  <mat-form-field appearance="fill" class="m-lg-1">
    <mat-label>Ville</mat-label>
    <input matInput [formControl]="city">
  </mat-form-field>

  <mat-form-field appearance="fill" class="m-lg-1">
    <mat-label>Nom</mat-label>
    <input matInput [formControl]="name">
  </mat-form-field>

  <mat-form-field appearance="fill" class="m-lg-1">
    <mat-label>Code Postal</mat-label>
    <input matInput [formControl]="postal_code">
  </mat-form-field><br>


  <button *ngIf="data" mat-raised-button color="primary" class="m-lg-1" type="submit">Enregistrer</button>
  <button *ngIf="!data" mat-raised-button color="primary" class="m-lg-1" type="submit">Ajouter</button>
  <button *ngIf="data" mat-raised-button class="m-lg-1" (click)="close()">Annuler</button>
  <mat-icon *ngIf="data" color="accent" (click)="openUsers()" style="cursor: pointer">supervisor_account</mat-icon>
</form>
