<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"> <br>
      <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
        <div class="form-group">
          Trouver un centre de vaccination<br>

          <input type="text" size="50px" name="keyword" ngModel placeholder=" Dans quelle ville ?">

          &nbsp;<button type="submit" mat-stroked-button color="primary">Chercher</button>
        </div>
      </form><br>

      <h3>Listes des centres</h3><br>

      <div class="d-grid gap-3">
        <mat-card *ngFor="let center of centers" class="example-card">
          <mat-card-title>{{center.name}}</mat-card-title>
          <mat-card-content>
            <div>
              {{center.address}}, {{center.postalCode}}, {{center.city}}
            </div>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button *ngIf="router.url ==='/centers' " mat-raised-button color="primary" (click)="openReservation(center)">Choisir</button>
          </mat-card-actions>
        </mat-card><br>
      </div>
    </div>
  </div>
</div>
