<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"> <br>
      <div *ngIf="router.url ==='/back-office'" class="d-flex justify-content-center">
        <h3> Gestion des centres de vaccinations</h3>
      </div><br>

        <div class="d-flex justify-content-center">
          <mat-form-field class="col-lg-4">
            <mat-label>Trouver un centre de vaccination</mat-label>
            <input matInput type="text" [(ngModel)]="term" ngModel placeholder=" Dans quelle ville ?">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button *ngIf="router.url ==='/back-office' " mat-raised-button color="primary" class="h-25 d-inline-block" style="margin-left: 15px" (click)="openCreateCenterModal()">Nouveau centre</button>

        </div><br>


      <div class="d-grid gap-3">
        <mat-card *ngFor="let center of centers |searchFilter:term" class="example-card">
          <mat-card-title>{{center.name}}</mat-card-title>
          <mat-card-content>
            <div>
              {{center.address}}, {{center.postalCode}}, {{center.city}}
            </div>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button *ngIf="router.url ==='/centers' " mat-raised-button color="primary" (click)="openReservation(center)">Choisir</button>
            <button *ngIf="router.url ==='/back-office' " mat-raised-button color="primary" (click)="openCenter(center)">Modifier</button>
          </mat-card-actions>
        </mat-card>
      </div><br>
    </div>
  </div>
</div>
