<div class="container">
  <div class="panel panel-primary"><br>
    <div style="margin-left: 35%; margin-top: 5px">
      <h3> Gestion des vaccinations</h3>
    </div><br>
    <div *ngIf="center">
      {{center.name}}<br>
      {{center.address}}, {{center.postalCode}}, {{center.city}}
    </div><br>

    <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
      <div class="form-group">

        <input type="text" size="50px" name="keyword" ngModel placeholder=" Nom du patient">

        &nbsp;<button type="submit" mat-stroked-button color="primary">Chercher</button>
      </div>
    </form><br>

    <div class="panel-body">

      <table class="table table-bordered " >
        <thead>
        <tr>
          <td>
            <Strong>Réservations </Strong>
          </td>
          <td>
            <Strong>Etat</Strong>
          </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reservation of reservations">
          <td >
            {{reservation.nom}} {{reservation.prenom}}
          </td>
          <td>
            <button *ngIf="!reservation.approved" mat-raised-button color="primary" (click)="onApproveVaccination(reservation)">Valider</button>
            <mat-icon *ngIf="reservation.approved" color="accent" matTooltip="Vaccination Validée">done</mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
