<p>Prise de Rendez-vous de vaccination</p>
<h2>{{data.name}}</h2>
<div>
  {{data.address}}, {{data.postalCode}}, {{data.city}}
</div>

<form #form (ngSubmit)="Submit()">
  <mat-form-field appearance="fill" class="m-lg-1">
    <mat-label>Nom</mat-label>
    <input matInput [formControl]="nom">
  </mat-form-field>

  <mat-form-field appearance="fill" class="m-lg-1">
    <mat-label>Prénom</mat-label>
    <input matInput [formControl]="prenom">
  </mat-form-field>

  <mat-form-field appearance="fill" class="m-lg-1">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="email">
  </mat-form-field>

  <mat-form-field appearance="fill" class="m-lg-1">
    <mat-label>Date rdv</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" class="m-lg-1">Reserver</button>
</form>

